<%- include('partials/header'); -%>

<h1>Contact Us</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque facere laudantium aliquam animi, veniam quibusdam dicta? Deleniti, blanditiis magni reprehenderit quaerat commodi earum nam? Reiciendis, vero. Pariatur ad est numquam optio similique sint suscipit fuga molestias. Quasi blanditiis, natus obcaecati officiis veritatis doloribus a vel ad sit odit vitae nobis cum nulla itaque maiores expedita quam repellat optio ducimus commodi. Itaque minus, fuga excepturi delectus, dolorum ratione sit temporibus, repudiandae accusantium fugiat molestiae soluta! Neque mollitia ut, natus alias molestias quaerat odio provident ipsum, corporis, officiis veritatis. Et sed a blanditiis, repudiandae nobis explicabo natus reprehenderit, itaque cupiditate ullam aut!
</p>

<%- include('partials/footer'); -%>